services:
  web:
    build: .
    working_dir: /app
    volumes:
      - .:/app
    command: node src/app.js
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./.env
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    env_file:
      - ./.env
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
