extends ../layout

block content
  h1 Register

  form(method='POST', action='/register')
    .card
      p
        label(for='username') Username
        br
        input#username(type='text', name='username', required)

      p
        label(for='email') Email
        br
        input#email(type='email', name='email', required)

      p
        label(for='password') Password
        br
        input#password(type='password', name='password', required)

      p
        button(type='submit') Create Account

  p
    a(href='/login') Already have an account? Login
