extends ../layout

block content
  h2 Users List

  if users.length
    each user in users
      .card
        h3= user.username
        p
          strong Email:
          |  #{user.email}
        p
          strong User ID:
          |  #{user.user_id}
        p
          strong Joined:
          |  #{user.created_at}
  else
    .card
      p No users found.
